confluent_kafka
django
django-cors-headers
django-extensions
django-filter
djangorestframework
fastavro
psycopg2===2.8.4
python-dateutil
hop-client
whitenoise
boto3
git+git://github.com/TOMToolkit/skip-django.git#egg=skip-django
